Package: com.yourcompany.faketouch
Name: FakeTouch
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Flying
Author: Flying
Section: Tweaks
